.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1a1f27;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  
  color: rgb(246, 245, 253);
}
.card-header{
  background-color: rgb(12, 12, 22);
  color: aliceblue;
  align-items: center;
  
}
.headline{
  font-size: calc(10px + 2vmin);
  color: rgb(186, 250, 35);
}
.App-link {
  color: #0a0c1f;
  max-height: 650vh;
  max-width:450vh ;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
